name: Compile Python code

on:
  push:
    branches:
      - personal
  pull_request:
    branches:
      - personal

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install curl
        run: sudo apt-get install curl

      - name: Compile Python
        working-directory: python_prgms
        run: make -j$(nproc)

      - name: List compiled files
        working-directory: python_prgms
        run: ls -R src/__pycache__

      # Success notification step
      - name: Send success notification to Discord
        if: success()
        shell: bash 
        run: |
          COMMIT_HASH="${GITHUB_SHA:0:6}"
          curl -H "Content-Type: application/json" \
               -X POST \
               -d "{
                 \"embeds\": [{
                   \"title\": \"CI job succeeded on Python\",
                   \"color\": 65280,
                   \"fields\": [
                     {
                       \"name\": \"Commit:\",
                       \"value\": \"[\`$COMMIT_HASH\`](<${{ github.event.head_commit.url }}>)\",
                       \"inline\": false
                     },
                     {
                       \"name\": \"Committed by:\",
                       \"value\": \"[${{ github.actor }}](https://github.com/${{ github.actor }})\",
                       \"inline\": false
                     }
                   ]
                 }]
               }" \
               ${{ secrets.DISCORD_WEBHOOK_4 }}

      - name: Send notification to Discord
        if: failure()
        shell: bash 
        run: |
          COMMIT_HASH="${GITHUB_SHA:0:7}"
          curl -H "Content-Type: application/json" \
               -X POST \
               -d "{
                 \"embeds\": [{
                   \"title\": \"CI job failed on Python\",
                   \"color\": 16711680,
                   \"fields\": [
                     {
                       \"name\": \"Commit:\",
                       \"value\": \"[\`$COMMIT_HASH\`](<${{ github.event.head_commit.url }}>)\",
                       \"inline\": false
                     },
                     {
                       \"name\": \"Committed by:\",
                       \"value\": \"[${{ github.actor }}](https://github.com/${{ github.actor }})\",
                       \"inline\": false
                     }
                   ]
                 }]
               }" \
               ${{ secrets.DISCORD_WEBHOOK_4 }}
